<!-- <h1>INGWAZ</h1> -->
<div class="pic1">
<img src="/images/Rectangle 40.jpg">
</div>
<div class="pic2">
<img src="/images/Rectangle 41.jpg">
</div>
<div class="pic3">
<img src="/images/logo.jpg">
</div>

<div class="maintext1">
  <%= link_to "Дни отдыха", posts_path %>
</div>
</br>
<div class="maintext2">
<%= link_to "Дни без отдыха", norests_path %>
</div>
