<div id="<%= dom_id post %>">
  <p>
    <strong></strong>
    <%= post.name %>
  </p>

  <p>
    <strong>Время отдыха</strong>
    <%= post.title %>
  </p>

  <!-- <div class="pic4">
  <img src="/images/dsfdgh 1.jpg">
  </div> -->
  <td><%= image_tag(post.image.url, alt: 'Image')%></td>


</div>
